#about-page1 {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#aboutNavBar {
  mix-blend-mode: difference;
}

#about-page1 video {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
.info {
  width: 100%;
  height: fit-content;
  padding: 3rem 2rem;
}

.info p {
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
#clients-Services {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading {
  text-transform: uppercase;
  font-family: Gilroy !important;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 4.5rem;
}
.container ul {
  list-style: none;
}
.category {
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
#about-page2 {
  width: 100%;
  height: fit-content;
  background-color: #f5e41b;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contactUs {
  padding: 2rem 2rem;
  align-self: flex-start;
}
.contactUs a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-style: italic;
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.page2Footer {
  margin: 4rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page2Footer h2 {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
}
#about-footer {
  background-color: black;
  align-items: flex-start;
  padding: 3rem 2rem;
  height: fit-content !important;
}
#about-footer a {
  color: white !important;
  font-size: 0.95rem !important;
}
.arrow i {
  font-weight: 200;
}
.menuColor {
  fill: black;
}
#arrow-info {
  padding: 1rem 0;
}
